<div class="small_action_link"><a href="/welcome">Home</a></div>

<section>
  <p><span>Table Seater</span></p>

  <div class="one_half">
    <div class="form_container">
      <%= form_tag :controller => :table_seating, :action => :create do %>
        <p><%= label_tag :guests %><%= text_area_tag :guests %></p>

        <p><%= radio_button_tag(:seating_method, "Seat Every Other") %>
          <%= label_tag 'seating_method[1]', "Seat Every Other" %></p>

        <p><%= radio_button_tag(:seating_method, "Seat Every Third") %>
          <%= label_tag 'seating_method[2]', "Seat Every Third" %></p>

        <p><%= submit_tag 'Seat Now', :id => 'seating_submit' %></p>
      <% end %>
    </div>
  </div>
</section>