<div class="small_action_link"><%= link_to "Logout", session_path, method: :delete, class: "logout" %></div>

<section>
  <p><span>August 8th, 2015</span><p>

  <h1>Welcome <%= @user.name %>!</h1>

  <div class="one_half">
    <% if current_user.admin? %>
      <p><%= link_to 'View Guests', users_path %></p>
      <p><%= link_to 'Table Seater', table_seating_new_path %></p>
    <% end %>

    <p><%= link_to 'Photo Gallery', photos_path %></p>

  </div>

  <div class="one_half">
  </div>
  <div class="resetColumnSet"></div>

</section>