<div class="container">
  <header><h1 class="welcome">Thank you for RSVP'ing! Please fill in the information below...</h1></header>

  <div class="error">
    <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li> <%= error %></li>
      <% end %>
    </ul>
  </div>


  <%= form_for @user, url: "/rsvp" do |f| %>
    <div class="inner_container">
      <p><%= f.label :name %>
        <%= f.text_field :name %></p>

      <p><%= f.label :email %>
        <%= f.text_field :email %></p>

      <p><%= f.label :password, "Your Password" %>
        <%= f.password_field :password %></p>

      <p><%= f.label :wedding_password, "Wedding Password" %>
        <%= f.password_field :wedding_password %></p>

      <p>All set? <%= f.submit "Yes!", class: "form-button" %></p>

    </div>
  <% end %>

  <div class="login">
    <p>
      Already have an account? <a href="/login">Login Here</a>
    </p>
  </div>
</div>