<header><h1 class="welcome">Welcome back! Please login below</h1></header>

<div class="notice">
  <p><%= flash[:failed_login] %></p>

  <p><%= flash[:notice] %></p>
</div>

<%= form_for @user, url: session_path do |f| %>
  <div class="inner_container">
    <p><%= f.label :name %>
      <%= f.text_field :name %></p>

    <p><%= f.label :email %>
      <%= f.text_field :email %></p>

    <p><%= f.label :password, "Your Password" %>
      <%= f.password_field :password %></p>

    <p><%= f.submit "Login", :id => 'login_submit', class: "form-button" %></p>

<% end %>