<section>
<p><span>Welcome back!</span><p>
<h1>Please login below</h1>
</section>

  <p><%= flash[:failed_login] %></p>

  <p><%= flash[:notice] %></p>


<%= form_for @user, url: session_path do |f| %>

    <p><%= f.label :email %>
      <%= f.text_field :email %></p>

    <p><%= f.label :password, "Your Password" %>
      <%= f.password_field :password %></p>

    <p><%= f.submit "Login", :id => 'login_submit', class: "form-button" %></p>
<% end %>