<div class="form_container">
  <%= form_for user, url: register_index_path do |f| %>
    <p><%= f.label :name %>
      <%= f.text_field :name %></p>

    <p><%= f.label :email %>
      <%= f.text_field :email %></p>

    <p><%= f.label :password, "Your Password" %>
      <%= f.password_field :password %></p>

    <p><%= f.label :wedding_password, "Wedding Password" %>
      <%= f.password_field :wedding_password %></p>

    <p>All set? <%= f.submit "Yes!", class: "form-button" %></p>
  <% end %>
</div>