<main>
  <section id="intro">
    <div class="container">
      <%= image_tag 'ellie+nick.png' %>
    </div>
  </section>

  <section id="welcome">
    <div class="container">
      <h1>
        We're gettin' hitched!!
      </h1>

      <p>
        Dear Friends and Family,
      </p>

      <p>
        Welcome to our wedding site! We are really excited to be married in STEAMBOAT SPRINGS next summer!

        Please check back frequently for more information on logistics surrounding our special day.
      </p>

      <p>
        Love, Nick and Ellie
      </p>
    </div>
  </section>


  <section id="schedule">
    <div class="container">
      <h1>
        Our ceremony will be at 5:00 in the afternoon on August 8th, 2015.
        We will have transportation between the Sheraton and Heritage Cabin.
      </h1>

      <h1>There will be a brunch on Sunday morning following the wedding from 9:00 to 11:00.</h1>

      <h1>Additionally, we will be arriving in Steamboat a few days before the wedding to play and hope you will join
        us!</h1>
    </div>
  </section>

  <section id="activities">
    <div class="container">
      <br>
      <h1>
        We look forward to exploring Steamboat with you all this summer!

        Some of our favorite activities in the are are:
      </h1>
      <ul>
        <li>
          <h4>
            <%=  link_to 'Rodeo!', 'http://www.steamboatprorodeo.com/' %>
          </h4>
        </li>
        <li>
          <h4>
            <%= link_to 'Strawberry Hot Springs', 'http://strawberryhotsprings.com/' %>
          </h4>
        </li>
        <li>
          <h4>
            <%= link_to 'Steamboat Wine Festival', 'steamboatwinefestival.com'  %>
          </h4>
        </li>
        <li>
          <h4>
            <%= link_to 'Hiking', 'http://www.steamboat-chamber.com/events-activities/activities/fish-creek-falls' %>
            <br>
            (We definitely recommend fish creek falls!)
          </h4>
        </li>
        <li>
          <h4>
            <%= link_to 'Golfing', 'http://simplysteamboat.com/blog/steamboat-springs-golf-course/' %>
          </h4>
        </li>
      </ul>

      <p>
        Nick and I are looking forward to playing with everyone over our wedding weekend!
      </p>
    </div>
  </section>

  <section id="travel">
    <div class="container">
      <h1>
        The best resource I have found for travel information to get to steamboat is
        <%= link_to 'here', 'http://www.steamboat-chamber.com/plan-your-trip/getting-here', target: '_blank' %>
      </h1>
    </div>
  </section>

  <section id="lodging">
    <div class="container">

      <p>

      <h1>
        Lodging
      </h1>
      </p>

      <p>We have reserved a special rate for our wedding weekend at the Sheraton.
        <br>
        Please feel free to reference the link below for information but when you are ready to book,
        we would HIGHLY recommend that you contact John at 800-848-8878 during normal business hours Monday - Friday.
      </p>
      <%= link_to 'Click here for room information', 'https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1411102489&key=1BC26D89', class: 'external_link' %>
    </div>
  </section>

  <section id="seeyousoon">
    <div class="container">

    </div>
  </section>
</main>

<script>
  $(document).ready(function () {
    $('a[href^="#"]').on('click', function (e) {
      e.preventDefault();

      var target = this.hash;
      var $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 900, 'swing', function () {
        window.location.hash = target;
      });
    });
  });
</script>